{
  "extends": "vtex",
  "root": true,
  "plugins": [
    "prettier"
  ],
  "rules": {
    "no-console": "warn",
    "linebreak-style": [
      "error",
      "unix"
    ],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "lf"
      }
    ]
  }
}
